/* header */
header{
    position: relative;
    background-color: rgb(58, 150, 280);
    width: 100%;
    height: 13vw;
}

header img{
    position: absolute;
    left: 20px;
    width: 14vw;
    height: auto;
  }

header nav{
    position: absolute;
    bottom: 20px;
    left: 20%;
}

header nav a{
    margin-bottom: 0.5vw;
    margin-right: 40px; 
    font-size: 2vw;
    color: white;
    text-decoration: none;        
}

header div{
    display: none;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }




.login_botton{
    position: absolute;
    right: 3%;
    bottom: 20px;
    font-size: 2.5vw;
    background-color: rgb(234, 224, 224);
    padding: 20px;
    cursor: pointer;
}

.login:hover {
    background-color: #c6cacf;
}




  


/*ヘッダー下背景(windowsとmacのロゴ) */
#img_wiondosMac{
    width: 100%;
    height: auto;
    display: block;
}

/* エラーメッセージ */
.form_error{
    color: red;
    font-size: 30px;
    margin: 20px 0;
}

ul{
    font-size: 16px;
    margin: 0 0 10px 10px;
}


/* サービス一覧セクション */
h1{
    font-size: 3.5rem;
    color: #5e7fef;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(82, 202, 112);
    letter-spacing: 30px;
    font-weight: bold;
    text-align: center;
}

h2{
    color: #1717be;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
}

.service_section{
    background-color: white;
    margin-top: 40px;
}

table {
    margin: 20px auto;
    width: 85%;
    border-collapse: collapse
}

td {
    border: 2px solid blue; 
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    font-size: 2vw;
    padding: 10px;
  }
  
th {
    background-color: #5873e0; 
    border: 2px solid rgb(255, 255, 255); 
    color: white; 
    font-size: 2vw;
    padding: 7px;
    font-weight:normal
  }
  
table img{
    object-fit: contain; 
    max-height: 150px;
    width: auto;
    max-width: 100%; 
}


  /* 入力フォームのセクション */
.form_section{
    background-color: #4180e5;
    position: relative;
    height: 680px;
}

.form_h2{
    text-align: center;
    color:white;
    font-size: 45px;
    font-weight:normal;
    padding:20px;
    margin-bottom: 20px;  
}

.form_top{
    position: absolute; 
    right:30%;
    width:60%; 
}

.input_group {
    display: flex; 
    margin-bottom: 20px; 
    justify-content: center;
    height: 35px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    flex: 3; 
}

label {
    flex: 1.5; 
    text-align: center; 
    min-width: 100px;
    color: white;
    font-size: 1.5vw;
}

.form_botton{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    bottom:15px;
    font-size: 3.5vw;
    padding: 10px 80px; 
    cursor: pointer; 
    background-color: #9fabdc;
    border-radius: 20px; 
    color: white;
    border: none; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);    
    z-index: 1000;
}

#message{
    height: 200px;
}


/* 空白（白背景)のセクション */
.white_section{
    background-color: white;
    height: 50px;   
}


/* footer */
footer{
    position: relative;
    background-color: #34b3f4;
    height: 150px;
}

address{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-style: normal;
}


/* mail関連ページ */


.mail_h2{
    margin-bottom: 20px;
}

.mail_p{
    font-size: 20px;
    margin: 10px;
}

.mail_button{
        display: inline-block;
        font-size: 16px; /* フォントサイズ */
        cursor: pointer;
        background-color: rgb(199, 206, 232);
        padding: 10px 20px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        margin: 10px;
        line-height: normal; 
        border-radius: 5px; 
    }
    


/* 管理ページ */
.manage_table {
    width: 95%;
    border-collapse: collapse
}

.td_button{
    padding: 3px;
}

.grayBack_thin,.grayBack_thick{
    background-color: #dbd8d8; 
    border: 1px solid #ddd; 
    padding: 8px; 
    width: 100%; 
    box-sizing: border-box; 
    height: 60px;
    font-size: 20px;
}

.grayBack_thick{
    height: 120px;
    vertical-align: top;
}

.grayBack_botton,.grayBack_botton_edit{
    background-color: #dbd8d8; 
    border: 1px solid #ddd; 
    padding: 8px; 
    width: 95%; 
    box-sizing: border-box; 
    height: 80px;
    border-radius: 10px; 
    cursor: pointer;
}

.grayBack_botton_edit{
    display: inline-block;
    font-size: 1.6vw;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 95%;
    height: 5vw;
}

span{
    background-color: #dbd8d8; 
    padding: 30px; 
    width: 100%; 
    font-size: 2vw;
    margin: 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}




/* サービステーブル操作関連ページ*/
.service_button{
    background-color: #cfcbcb; /* 灰色の背景色 */
    padding: 20px; /* 内側の余白を設定 */
    cursor: pointer;
    font-size: 25px;
    display: inline-block;
    margin: 80px 0 40px 40px;
    border-radius: 10px;
}

.service_text{
    font-size: 25px;
    margin-left: 40px;
    margin-top: 80px;
}

.service_h2{
    font-size: 40px;
    color: #3830da;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.display header a{
 display: none
}





/* ログイン画面 */


.login_h2{
    font-size: 2.5rem;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.login_container {
    display: flex;
    align-items: center; 
    width:55%;
    margin-left: auto; 
    margin-right: auto; 
    gap: 30px;
}

.login_container th {
    background-color: rgb(87, 119, 222);
    color: white; /* 文字色を白に */
    padding: 13px 0;
    vertical-align: middle;
    font-size: 2vw;
    width: 40%;
}

.login_container td {
    font-size: 2vw;
    padding: 0; 
    width: 60%;
    border: 1.5px solid rgb(87, 119, 222); 
}

.login_container table {
    border-collapse: separate;
    border-spacing: 0 20px; 
}

.login_container input{
    width: 100%; 
    height: 100%;
    box-sizing: border-box; 
    border: 0px solid #ccc; 
    padding: 10px; 
}

.login_container button{
    align-self:flex-start;
    margin-top: 40px;
    background-color: #dbd8d8; 
    border: 1px solid #ddd; 
    font-size: 2vw;
    height: 10vw;
    width: 10vw;
    border-radius: 10px; 
    cursor: pointer;
    font-weight:500;
}
  



  
  